$secondary-color: #fff;
$header-font: 'Oswald';
$body-font: 'Montserrat';

.movie-info.card {
  margin-top: 50px;
}

.image {
  max-height: 500px;
}

div.card-body {
  background-color: $secondary-color;
  z-index: 5;
}

div.card-title.h5{
  font-family: $header-font;
}

@media all and (max-width: 800px) {
  div.image {
    text-align: center;
  }
  .poster {
    max-width: 300px;
    margin: auto;
  }
}