$primary-color: #1188a3;
$secondary-color: #ffffff;
$third-color: #000;
$header-font: 'Oswald';
$body-font: 'Montserrat';

div.registration-view.col {
  top: 50px;
  max-width: 900px;
  background-color: $secondary-color;
  padding: 20px;
  margin: 0 auto;
}