$primary-color: #1188a3;
$secondary-color: #ffffff;
$third-color: #000;
$header-font: 'Oswald';
$body-font: 'Montserrat';


div.user-view.row {
  top: 35px;
  max-width: 900px;
  background-color: $secondary-color;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0 auto;
}

div.user-view.favorites.row {
  padding-top: 0px;
} 

div.movie-info.card {
  margin-top: 0px;
}