$primary-color: #1188a3;
$secondary-color: #ffffff;
$third-color: #000;
$header-font: 'Oswald';
$body-font: 'Montserrat';

h5.movie-title {
  font-family: $header-font;
  font-size: 32px;
}

.movie-view {
  background-color: $secondary-color;
  margin-top: 50px;
  padding: 20px;
}

.movie-poster {
  width: 100%;
}

button.btn.btn-primary {
  margin-top: 10px;
}