$primary-color: #1188a3;
$secondary-color: #ffffff;
$third-color: #000;
$header-font: 'Oswald';
$body-font: 'Montserrat';

// Background
html, div.app-container {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

//Header content
div {
  font-family: $body-font;
}

.container {
  margin-top: 35px;
  background-color: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.login {
  padding: 40px;
  max-width: 900px;
  margin: auto;
  background-color: $secondary-color;
}

div.login.row {
  margin: 0 auto;
}

.login, .form-group {
  background-color: $secondary-color;
  color: $third-color;
  opacity: 85%;
}

.welcome {
  color: $third-color;
  border: 1px solid $secondary-color;
  background: $secondary-color;
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

.title {
  color: $primary-color;
  font-family: $header-font;
}

// Form/lower content
#formUsername, #formPassword {
  width: 100%;
}

.btn-primary {
  margin-right: 5px;
}

.main-logo {
  height: 200px;
  width: auto;
}

#img {
  text-align: center;
}