$primary-color: #000000;
$secondary-color: #ffffff;
$header-font: 'Oswald';
$body-font: 'Montserrat';

html, div {
  background-color: $primary-color;
}

.login {
  padding: 40px;
  box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73)
}

.login, .form-group {
  background-color: $secondary-color;
  font-family: $body-font;
}

.title {
  color: $secondary-color;
  font-family: $header-font;
  text-align: center;
}