$primary-color: #1188a3;
$secondary-color: #0f7b8e;
$white: #fff;
$secondary-button: #353535;

.navbar.navbar-expand-lg.navbar-light.bg-light {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
}

#link-dark {
    color: $secondary-button;
  }

#link-dark:hover {
    text-decoration: underline;
}

.navbar-brand {
  margin-left: 5px;
}

img.d-inline-block.align-top {
  margin-right: 10px;
}

button.btn.btn-outline-primary {
  color: $primary-color;
  border-color: $primary-color;
}

button.btn.btn-outline-primary:hover {
  color: $white;
  border-color: $white;
  background-color: $primary-color;
  transition: 0.2s ease-in;
} 

button.btn.btn-primary {
  background-color: $primary-color;
}

button.btn.btn-primary:hover {
  background-color: $secondary-color;
  transition: 0.5s, ease-in;
}

button.btn.btn-secondary {
  margin-top: 10px;
  background-color: $secondary-button;
}

button.btn.btn-secondary:hover {
  background-color: #2a2b2b;
  transition: 0.5s, ease-in;
}
